<div id="content">
  <div class="jumbotron">
   <h1>Welcome to abdel23's plateform</h1>
   <p class="lead">
     <img src="https://robohash.org/abdel23" alt="I'm Yeoman"><br>
     This is Abdel23's robot avatar
   </p>
   <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>

 <div class="row marketing">
   <h4>Abdel23</h4>
   <p>One of the greatest Pes2006 and Pes2011 players of all time
   </p>
 </div>
</div>
